.twitter-icon {
  display: block;
  width: 44px;
  height: auto;
}

.twitter-icon-gigantic {
  display: block;
  width: 400px;
  height: auto;
}

.menu-icon {
  font-size: 32px;
  padding-left: 6px;
}

.profile-icon {
  display: block;
  width: 40px;
  height: auto;
  border-radius: 40px;
  padding: 10px;
}
