.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-expand {
  flex: 1;
}

.justify-start {
  justify-content: start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-baseline {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.margin-null {
  margin: 0;
}

.margin-horizontal-xx-small {
  margin-left: 9px;
  margin-right: 9px;
}

.margin-horizontal-medium {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-horizontal-x-large {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-horizontal-xx-large {
  margin-left: 32px;
  margin-right: 32px;
}

.margin-vertical-xx-small {
  margin-top: 9px;
  margin-bottom: 9px;
}

.margin-vertical-medium {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-vertical-x-large {
  margin-top: 24px;
  margin-bottom: 24px;
}

.margin-vertical-xx-large {
  margin-top: 32px;
  margin-bottom: 32px;
}

.menu-size {
  height: 100vh;
  min-width: 260px;
  max-width: 260px;
}

.overflow-hidden {
  overflow: hidden;
}

.unset-overflow {
  overflow-wrap: unset;
}

.main-timeline {
  width: 600px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(47, 51, 54);
  margin: 0 32px;
}

.tweet-box {
  width: 100% - 70px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-color: rgb(47, 51, 54);
}

.tweet-text {
  max-width: 520px;
  outline: none;
  padding-top: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  color: white;
  resize: none;
  font-family: "Open Sans";
}

.tweet-content {
  gap: 10px;
  width: 100%;
}

.tweet-attachments {
  gap: 10px;
  padding-left: 10px;
  padding-top: 6px;
  color: rgb(29, 155, 240);
}

.tweet-reach {
  align-self: flex-start;
  border-radius: 26px;
  gap: 4px;
  padding: 2px 10px;
  color: rgb(29, 155, 240);
}

.tweet-attachments-post {
  border-top: 1px solid;
  border-color: rgb(47, 51, 54);
  padding-top: 10px;
}

.search-bar {
  width: 300px;
  height: 44px;
  padding: 2px 25px;
  border-radius: 48px;
  margin-top: 6px;
  gap: 10px;

  background-color: rgb(255, 255, 255, 0.1);
  color: rgba(231, 233, 234, 1);
}

.search-bar > input {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  color: white;
  resize: none;
  font-family: "Open Sans";
  width: 90%;
}

.tweet-post-user-container {
  gap: 2px;
  padding-top: 8px;
}

.tweet {
  padding: 4px 20px 4px 10px;
  gap: 4px;
  border-bottom: solid rgb(47, 51, 54) 1px;
}

.tweet-text-content {
  width: 100%;
}

.tweet-post-text {
  padding-top: 4px;
}

.tweet-interaction-icons {
  padding-top: 14px;
  padding-bottom: 6px;
}
